# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Environment
env/
venv/
myenv/

# Static and Media
/static/
media/

# Node.js
node_modules/
package-lock.json
npm-debug.log*

# VSCode
.vscode/

# Other
*.log
*.swp
.DS_Store
